doctype html
html(lang="en")
	include components/head

body
	main
		include components/intro.pug
		include components/main.pug
		include components/scripts

title JiangKing
img(src="/assets/images/blog/avatar.jpg", alt="avatar")
h1(data-translate="name") JiangKing
p © 2025 JiangKing ❤️