doctype html
html(lang="en")
	include components/head

body
	main
		include components/intro.pug
		include components/main.pug
		include components/scripts
		nav
			ul
				li
					a(href="/blog/index.html") 博客

title JiangKing
img(src="https://cdn.jsdelivr.net/gh/JiangKing/images/blog/avatar.jpg", alt="avatar")
h1(data-translate="name") JiangKing
a.github-corner(href="https://github.com/JiangKing/HomePage" aria-label="View source on GitHub" target="_blank" rel="noopener noreferrer")
p © 2025 JiangKing ❤️